*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.time-set{
    display:flex;
    width:70%;
    min-width:615px;
    justify-content: space-between;
}
.time-item{
    margin:5px 0;
}
.subject-input{
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    padding:3px;
    font-size:16px;
    width:50%;
}
main{
    width:60%;
    margin:auto;
}

.topic-list{
    list-style-type: none;
}
.list-row{
    display:flex;
    width:100%;
}
.list-row div:not(1){
    text-align: center;
}
.list-item-title:nth-child(1),
.list-item:nth-child(1){
    width:40%;
}

.list-item-title:nth-child(2),
.list-item:nth-child(2){
    width:5%;
}

.list-item-title:nth-child(3),
.list-item:nth-child(3){
    width:15%;
}

.list-item-title:nth-child(4),
.list-item:nth-child(4){
    width:5%;
}
.list-item-title:nth-child(5),
.list-item:nth-child(5){
    width:25%;
}