*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.time-set{
    display:flex;
    width:70%;
    min-width:615px;
    justify-content: space-between;
}
.time-item{
    margin:5px 0;
}
.subject-input{
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    padding:3px;
    font-size:16px;
    width:50%;
}
main{
    width:60%;
    margin:auto;
}

.topic-list,
.vote-result,
.vote-list{
    list-style-type: none;
}
.list-row,
.vote-option,
.vote-option-title,
.vote-subject,
.vote-subject-title
{
    display:flex;
    width:100%;
}
.list-row div:not(1){
    text-align: center;
}
.list-item-title:nth-child(1),
.list-item:nth-child(1){
    width:40%;
}

.list-item-title:nth-child(2),
.list-item:nth-child(2){
    width:10%;
}

.list-item-title:nth-child(3),
.list-item:nth-child(3){
    width:15%;
}

.list-item-title:nth-child(4),
.list-item:nth-child(4){
    width:10%;
}
.list-item-title:nth-child(5),
.list-item:nth-child(5){
    width:25%;
}

.vote-option{
    align-items:center;
}
.vote-item{
    padding:5px;
    line-height: 20px;
}
.vote-item:nth-child(1){
    width:10%;
    text-align:center;
}
.vote-item:nth-child(2){
    width:60%;
}
.vote-item:nth-child(3){
    width:20%;
    text-align:center;
}
.vote-option-title .vote-item{
    text-align: center;
}

/*單多選的按鈕美化*/
.type-info{
    padding:2px 5px;
    border-radius:5px;
    background:lightgreen;
    color:darkgreen;
    border:0;
    font-size:12px;
}
.vip-login{
    padding:2px 5px;
    border-radius:5px;
    background:rgb(248, 227, 33);
    color:rgb(194, 133, 1);
    border:0;
    font-size:12px;
}
.normal{
    padding:2px 5px;
    border-radius:5px;
    background:lightskyblue;
    color:blue;
    border:0;
    font-size:12px;
}
.await{
    padding:2px 5px;
    border-radius:5px;
    background:rgb(248, 227, 33);
    color:rgb(194, 133, 1);
    border:0;
    font-size:12px;
}
.in-process{
    padding:2px 5px;
    border-radius:5px;
    background:lightskyblue;
    color:blue;
    border:0;
    font-size:12px;
}
.finish{
    padding:2px 5px;
    border-radius:5px;
    background:lightgreen;
    color:darkgreen;
    border:0;
    font-size:12px;
}