.time-set{
    display:flex;
    width:70%;
    min-width:615px;
    justify-content: space-between;
}
.time-item{
    margin:5px 0;
}
.subject-input{
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    padding:3px;
    font-size:16px;
    width:50%;
}
main{
    width:60%;
    margin:auto;
}